*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.context{
    width: 100%;
    height: 200vh;
}

.context>.bx-1{
    width: 100%;
    height: 50px;
    background-color: rgb(96, 93, 93) ;
    text-align: center;
    
}

 ul > li >a:hover{
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
    background-color: rgb(159, 138, 141);
    border-radius: 20px;
    color: rgb(251, 251, 251);
    padding: 10px 20px;
}

.context> nav{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
  position: sticky;
  top: 0;
    
}

.context>.t-1{
    width: 100%;
    height: 300px;
    margin-top: 5px;
}

.context>.all{
    width: 100%;
    height: 1000px;
    gap: 30px;
    /* background-color: #2b8a3e; */
    
}



.product-card {
  width: 260px;
  padding: 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  
  
}

.list-c>.product-card:hover{
  
  z-index: -10;
}

.product-img {
  width: 100%;
  border-radius: 10px;

}

.product-name {
  margin: 15px 0 8px;
  font-size: 20px;
  color: #333;
}

.product-desc {
  font-size: 14px;
  color: #666;
}

.price {
  margin: 12px 0;
  font-size: 18px;
  color: #2b8a3e;
  font-weight: bold;
}

.btn {
  padding: 10px 15px;
  border: none;
  background-color: rgb(154, 135, 139);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(246, 67, 246);
}

.context>.sec-1{
  width: 100%;
  height: 500px;
  background-color:rgb(96, 93, 93) ;      
}

.category-slider-section {
    text-align: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.category-slider-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.slider-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.slider-track-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.3s ease;
}

.category-slide {
    min-width: 300px;
    text-align: center;
    padding: 10px;
}

.category-slide img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.category-slide h3 {
    font-size: 18px;
    font-weight: bold;
}

.slide-btn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 32px;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.prev { left: -90px; }
.next { right: -90px; }

.slide-btn:hover {
    background: #eaf9f1;
}
